.contact{
    width: 72%;
    h2{
        letter-spacing: 2px;
    }
    @include media-breakpoint-down(sm){
        width: 100%;
        h2{
            font-size: 24px;
        }
        span{
            font-size: 13px;
        }
    }
}

.ring{
    width: 100px;
    animation: shake .5s infinite linear alternate;
    @include media-breakpoint-down(sm){
        width: 90px;
    }
}

@keyframes shake{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(20deg);
    }
}

.socialIcon{
    width: 110px;
    height: 110px;
    border-radius: 30px;
    &:hover{
        color: white;
        transition: .2s;
    }
    @include media-breakpoint-down(sm){
        width: 70px;
        height: 70px;
        i{
            font-size: 2rem;
        }
        
    }
}