.about{
    width: 72%;
    p{
        font-family: "MKaiHK";
        font-size: 17px;
        line-height: 2rem;
        letter-spacing: 1.5px;        
    }
    span{
        letter-spacing: 12px;
    }
    .editVid{
        transform: rotate(-10deg);
    }
    @include media-breakpoint-down(lg){
        width: 100%;
        ul{
            flex-wrap: wrap;
            font-size: 20px;
        }
        span{
            letter-spacing: 6px;
        }
    }
}

.separate{
    width: 100px;
}

.kaiReal{
    width: 365px;
}

